h1 { 
  font-style: bold;
  background-color: green;
  text-align: center;
  padding-bottom: 5px;
}

.col-md-3 {
  background-color: blue;
  text-align: center;
  float: left;
  border: 10px solid yellow;
}



img {
  width: 100%;
  height: auto;
}